# IDE settings
.idea
.vscode

# Dependencies
node_modules

# Artifacts
dist
storybook-static
.cache

# Playwright
playwright-report
playwright-report-docker
playwright/.cache-docker
playwright/.cache/
test-results

# System files
.DS_Store
