@use '../variables';

$block: '.#{variables.$ns}range-date-picker';

#{$block} {
    position: relative;

    display: inline-block;

    outline: none;

    &__field {
        width: 100%;
    }

    &__popup-anchor {
        position: absolute;
        z-index: -1;
        inset: 0;
    }

    &__popup-content {
        outline: none;
    }

    &__time-field {
        width: 100%;

        &-wrapper {
            padding: 10px;
        }
    }
}
