@use '../../../../../variables';

$block: '.#{variables.$ns}range-date-picker-presets';

#{$block} {
    .gc-adaptive-tabs {
        padding-left: var(--range-data-picker-padding);
    }

    &__item {
        box-sizing: border-box;
        height: 28px;
        padding-left: var(--range-data-picker-padding);

        cursor: pointer;

        &:first-child {
            margin-top: 8px;
        }

        &:last-child {
            margin-bottom: 8px;
        }

        &_mobile {
            height: 48px;
            padding-left: 8px;

            &:not(:last-child) {
                border-bottom: 1px solid var(--g-color-line-generic);
            }
        }
    }
}
