@use '../variables';

$block: '.#{variables.$ns}date-picker';

#{$block} {
    position: relative;

    display: inline-block;

    &__field {
        width: 100%;

        &_mobile {
            pointer-events: none;
        }
    }

    &__popup-content {
        outline: none;
    }

    &__time-field {
        width: 100%;

        &-wrapper {
            padding: 10px;
        }
    }

    &__mobile-calendar {
        position: relative;

        display: inline-block;

        width: 24px;
        height: 24px;

        &_size_xs {
            width: 20px;
            height: 20px;
        }

        &_size_m {
            width: 28px;
            height: 28px;
        }

        &_size_l {
            width: 36px;
            height: 36px;
        }

        &-button {
            position: absolute;
            inset: 0;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-input {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;

            box-sizing: border-box;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

            cursor: pointer;

            opacity: 0;
            border: none;

            &::-webkit-calendar-picker-indicator {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;

                cursor: pointer;
            }
        }
    }
}
