@use '../../../variables';

$block: '.#{variables.$ns}relative-range-date-picker-dialog';

#{$block} {
    &__content {
        --_--popup-content-padding: var(--g-spacing-2);
        --g-list-item-padding: var(--_--popup-content-padding);

        padding: var(--_--popup-content-padding) 0;

        &_mobile {
            --_--popup-content-padding: var(--g-spacing-5);
            --g-list-item-padding: 0;

            padding: var(--_--popup-content-padding);

            #{$block}__pickers {
                padding: unset;
            }
        }

        &:not(&_mobile) {
            width: 326px;
        }

        &_size_xl:not(&_mobile) {
            width: 380px;
        }
    }

    &__pickers {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-2);

        padding: 0 var(--_--popup-content-padding);

        .g-text-input__label {
            width: 40px;

            #{$block}__content_size_xl & {
                width: 50px;
            }
        }
    }

    &__apply {
        margin-block-start: var(--g-spacing-2);
    }

    &__zone {
        margin-block: var(--g-spacing-2) calc(-1 * var(--_--popup-content-padding));
        margin-inline: calc(-1 * var(--_--popup-content-padding));

        border-block-start: 1px solid var(--g-color-line-generic);
    }
}
