name: CI

on:
  push:
    branches: [main, next]
  pull_request:

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  verify_files:
    name: Verify Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'npm'
      - name: Install Packages
        run: npm ci
      - name: Lint Files
        run: npm run lint
      - name: Knip
        run: npm run knip
      - name: Typecheck
        run: npm run typecheck
      - name: Build
        run: npm run build

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'npm'
      - name: Install Packages
        run: npm ci
      - uses: ./.github/actions/setup-playwright
      - name: Tests
        run: npm run test:coverage
      - uses: actions/upload-artifact@v6
        with:
          name: reports
          path: ./reports
      - name: Save PR ID or ref
        run: |
          id="${{ github.event.pull_request.number || github.ref_name}}"
          echo $id > ./id.txt
        shell: bash
      - uses: actions/upload-artifact@v6
        with:
          name: id
          path: ./id.txt
