name: PR Visual Tests

on:
  workflow_call:
    inputs:
      playwright-version:
        required: true
        type: string

jobs:
  visual-tests:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v${{ inputs.playwright-version }}-jammy
    steps:
      - uses: actions/checkout@v4
      - name: Install Packages
        run: npm ci
      - name: Run Visual Tests
        run: npm run playwright
        env:
          CI: 'true'
      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: ./playwright-report
          retention-days: 1
      - name: Save PR ID
        if: always()
        run: |
          pr="${{ github.event.pull_request.number }}"
          echo $pr > ./pr-id.txt
        shell: bash
      - name: Create PR Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pr
          path: ./pr-id.txt
