name: PR Visual Tests

on:
  pull_request:

jobs:
  visual-tests-prepare:
    name: Detect Playwright Version
    runs-on: ubuntu-latest
    outputs:
      playwright-version: ${{ steps.detect-playwright-version.outputs.version }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js from .nvmrc
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install Packages
        run: npm ci
      - name: Detect Playwright version
        id: detect-playwright-version
        run: |
          VERSION=$(./scripts/playwright-version.sh)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Detected Playwright version: $VERSION"

  visual-tests:
    name: Visual Tests
    runs-on: ubuntu-latest
    needs: visual-tests-prepare
    container:
      image: mcr.microsoft.com/playwright:v${{ needs.visual-tests-prepare.outputs.playwright-version }}-jammy
    steps:
      - uses: actions/checkout@v6
      - name: Install Packages
        run: npm ci
      - name: Run Visual Tests
        run: npm run playwright
        env:
          CI: 'true'
      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: playwright-report
          path: ./playwright-report
          retention-days: 1
      - name: Save PR ID
        if: always()
        run: |
          pr="${{ github.event.pull_request.number }}"
          echo $pr > ./pr-id.txt
        shell: bash
      - name: Create PR Artifact
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: pr
          path: ./pr-id.txt
